{% extends 'subscriptions.html.twig' %}

{% block subsController %}publisherSubscriptionsController{% endblock %}

{% block showMySubs %}
    My subscriptions
{% endblock %}
{% block showMySubsTooltip %}
    Show only my subscriptions
{% endblock %}

{% block subPanelBtns %}
    <button class="button button-3d button-primary button-rounded create-sub-btn" ng-click="openNewSubDialog()">
        New subscription
    </button>
{% endblock %}

{% block subscriptionInfo %}
    <div>Duration: <b>1 Month</b></div>
{% endblock %}

{% block subscriptionFlex %}
    <div class="sub-action-icons" ng-if="sub.publisher.id == user.id">
        <div aria-label="Delete subscription" data-balloon-pos="up">
            <button class="sub-delete-btn" onclick="event.stopPropagation()" ng-click="showDeleteSubDialog($index)"></button>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ include('Publisher/new-subscription-dialog.html.twig') }}
    {{ include('Publisher/delete-subscription-dialog.html.twig') }}
{% endblock %}
