{% extends 'my-videos.html.twig' %}

{% block myVideosController %}publisherMyVideosController{% endblock %}

{% block myVideosPanel %}
    <button class="button button-3d button-highlight button-rounded create-new-video-btn"
            ng-click="showCreateNewVideoPage()">
        New video
    </button>
{% endblock %}

{% block myVideosDescriptionBtns %}
    <button class="my-videos-description-btns edit-video-btn" ng-click="showEditVideoPage()"></button>
    <button class="my-videos-description-btns delete-video-btn" ng-click="deleteVideo()"></button>
{% endblock %}

{% block myVideosViews %}
    <div ng-show="myVideosView == VideosView.CREATE_NEW || myVideosView == VideosView.EDIT" class="new-video-view">
        <h2 class="video-title">
            <i class="fas fa-hand-point-left" ng-click="goBackVideo()"></i>
            {% verbatim %}{{videoCreateEditTitle}}{%endverbatim%}
        </h2>

        <form novalidate name="newVideoForm" ng-model="newVideoForm" ng-submit="submitNewVideo()">
            <div class="new-video-flex">
                <div>
                    <div class="input-field">
                        <label for="title">Title</label>
                        <input id="title" name="title" ng-model="title" type="text" required maxlength="60">
                        <div ng-if="newVideoForm.title.$touched && newVideoForm.title.$invalid && !publisherAlreadyHasVideoTitle"
                             class="input-err-msg">
                            Please enter title of video
                        </div>
                        {% verbatim %}
                        <div class="input-err-msg" ng-if="publisherAlreadyHasVideoTitle">{{publisherAlreadyHasVideoTitle}}</div>
                        {% endverbatim %}
                    </div>
                    <div class="input-field">
                        <label for="poster-url">Poster URL</label>
                        <input id="poster-url" name="posterUrl" ng-model="posterUrl" type="text" required
                               maxlength="200">
                        <div ng-if="newVideoForm.posterUrl.$touched && newVideoForm.posterUrl.$invalid"
                             class="input-err-msg">
                            Please enter URL of video's poster
                        </div>
                    </div>
                </div>

                <div>
                    <div class="input-field">
                        <select id="video-player-select" name="videoPlayer" ng-change="onVideoPlayerSelected()" required
                                ng-model="selectedVideoPlayerName">
                            <option value="" disabled selected>Choose video player</option>
                        </select>
                        <label>Video player</label>
                        <div ng-if="newVideoForm.videoPlayer.$touched && newVideoForm.videoPlayer.$invalid"
                             class="input-err-msg">
                            Please select video player
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="embed-code">Embed code</label>
                        <textarea id="embed-code" name="embedCode" ng-model="embedCode" class="materialize-textarea"
                                  required maxlength="1000"></textarea>
                        <div ng-if="newVideoForm.embedCode.$touched && newVideoForm.embedCode.$invalid"
                             class="input-err-msg">
                            Please enter video's embed code
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-err-msg" ng-if="videoDescriptionEmptyError">Please enter video's description</div>
            <label for="video-description">Description</label>
            <textarea id="video-description"></textarea>

            <div class="save-new-video-btn-wrapper">
                {% verbatim %}
                <div ng-if="newVideoApiError" class="input-err-msg new-video-api-err">{{newVideoApiError}}</div>
                {% endverbatim %}
                <button class="button button-3d button-highlight button-rounded save-new-video-btn" type="submit">
                    Save video
                </button>
            </div>
        </form>
    </div>
{% endblock %}
