.input-err-msg {
    color: red;
    margin-top: 5px;
    font-size: 12px;
    max-width: 300px;
}

input.ng-touched.ng-invalid {
    border-color: red !important;
}

input.ng-valid {
    border-color: limegreen !important;
}

input:focus {
    border-color: #1b9af7 !important;
    outline: none !important;
    box-shadow: none !important;
}
