{% extends 'login-base.html.twig' %}
{% block loginController %}customerLoginController{% endblock %}
{% block loginTitle %}Customer login{% endblock %}
{% block signupLink %}
    <a href="#">Don't have an account? Sing up now!</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/controller/customer/customer-login-controller.js') }}"></script>
{% endblock %}
