<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SVOD manager{% endblock %}</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>

        {% block stylesheets %}
            <link rel="stylesheet" href="/lib/buttons/css/buttons.css">
        {% endblock %}
    </head>
    <body ng-app="app">
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
